@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    background: url(./img/wallpaperbetter.com_2560x1440.jpg);
    background-size: 100%;
}
.box{
    width: 700px;
    height: 820px;
    background-color: black;
}
.img1{
    width: 400px;
    height: 600px;
    margin: auto;
    display: block;
}
.box h1 {
    color: white;
    font-size: 20px;
    text-align: center;
}
.box p {
    color: white;
    font-size: 15px;

}
.box a {
    padding: 20px 20px;
    background-color: blue;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.ancher {
    width: 100%;
    display: flex;
    justify-content: center;
}
.box2 {
    width: 700px;
    height: 820px;
    background-color: black;
}
.img2 {
    width: 400px;
    height: 600px;
    margin: auto;
    display: block;
}
.box2 h1 {
    color: white;
    font-size: 20px;
    text-align: center;
}
.box2 p {
    color: white;
    font-size: 15px;
}
.box2 a {
    padding: 20px 20px;
    background-color: rgb(119, 11, 11);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.ancher2 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.box3 {
    width: 700px;
    height: 820px;
    background-color: black;
}
.img3 {
    width: 400px;
    height: 600px;
    margin: auto;
    display: block;
}
.box3 h1 {
    color: white;
    font-size: 20px;
    text-align: center;
}
.box3 p {
    color: white;
    font-size: 15px;
}
.box3 a {
    padding: 20px 20px;
    background-color: rgb(14, 78, 107);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.ancher3 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.block1 {
    font-size: 35px;
    display: flex;
    justify-content: center;
}
.block1 label {
    font-family: 'Lobster', cursive;
    color: white;
    color: transparent;
    text-shadow: -4px 4px rgba(228, 228, 228, 0.4), -3px 3px rgba(182, 182, 182, 0.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}
.block1 select {
    font-size: 20px;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    font-family: 'Lobster', cursive;

}
